#boxO
{
    height: 729px;
    width: 100%;
    background-image: url("../Images/silhouettes-hills-street-lamps-cloudy-sky-during-beautiful-sunset.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
}
#boxO h1
{
    position: absolute;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 120px;
    margin-top: 180px;
    margin-left: 610px;
}
#butO
{
    position: absolute;
    width: 650px;
    height: 50px;
    justify-content: space-around;
    display: flex;
    top: 400px;
    left: 450px;
    height: 70px;
}
#butO button
{
    width: 200px;
    font-size: 30px;
    border-radius: 20px;
    background: none;
    box-shadow: -2px 4px 7px 2px black;
}
