#outersi
{
    position:absolute;
    background-color: white;
    border-radius: 20px;
    height: 550px;
    width:500px;
    margin-left: 490px;
    margin-top: 5%;
    box-shadow: -2px 3px 7px 3px black;
    background-size: 100%;
    background-repeat: no-repeat;
}
#headsi
{
    padding-left: 15%;
    margin-top: 30px;
    color: rgb(12, 12, 15);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
#iconsi
{
    padding-left: 60%;
    padding-top: 0%;
}
  #cancelsi
  {
    height:100px;
    width:100px;
  }
  #topsi
  {
    position: absolute;
    top: -4px;
    right: 1px;
    font-size: 20px;
  }
  #Btsi
  {
    background:none;
    border-radius: 3px;
    border:0.2px groove  rgb(31, 236, 38); 
    color: rgb(5, 249, 13);
    box-shadow: -1px 2px 10px 1px rgb(5, 175, 11);
  }
  #Btsi:hover
  {
    border-radius: 2px;
    background-color: rgb(22, 188, 28);
    color: white;
  }
  #Btsi:active{
    box-shadow: 0px 0px 7px 3px rgb(27, 192, 33);
    margin-top: 1px;margin-right: 2px;
  }
  #forsi
  {
    padding-left: 100px;
    padding-top: 20px;
  }
  #demo-helper-text-misaligned-no-helpersi
  {
    width: 250px;
    height: 20px;
  }
  #basesi
  {
    height: 328px;
  }
  #feisi
  {
    height: 80px;
  }
  #termsi
  {
    padding-left: 99px;
    font-family: cursive;

  }
  #suxsi
  {
    padding-left: 95px;
    font-family: cursive;

  }
  .totsi
  {
    margin-left: 17px;
    /* border: 5px groove black; */
  }
  .totalsi
  {
    height: 100vh;
    width: 100%;
    background-image: url("../Images/silhouettes-hills-street-lamps-cloudy-sky-during-beautiful-sunset.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
  }
  #profsi
  {
    position: relative;
    /* border: 5px groove grey; */
    height: 150px;
    width: 150px;
    margin-left: 150px;
    margin-top: 50px;
    border-radius: 50%;
    background-image: url("../Images/bbyprof1.avif");
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  #profsi::after
  {
    content: '';
    position: absolute;
    height: 200px;
    width: 200px;
    background: conic-gradient(transparent,transparent,rgb(205, 83, 18)
    );
    animation: sk 4s linear infinite;
  }
  #profsi::before
  {
    content: '';
    position: absolute;
    height: 200px;
    width: 200px;
    background: conic-gradient(transparent,transparent,rgb(198, 8, 205)
    );
    animation: sk 4s linear infinite;
    animation-delay: -2s;
  }
  @keyframes sk
  {
    0%
    {
      transform: rotate(0deg);
    }
    100%
    {
      transform: rotate(360deg);
    }
  }
  #profsi span
  {
      position: absolute;
      inset: 5px;
      border-radius: 50%;
      background-image: url("../Images/bbyprof1.avif");
      background-size: 100%;
      z-index: 1;
  }
  #Btsiup
  {
    background: none;
    border: 1px groove rgb(212, 89, 32);
    color: rgb(240, 91, 21);
    width: 100px;
    height:50px;
    box-shadow: -1px 2px 7px 3px rgb(187, 94, 17);
  }
  #Btsiup:hover{
    box-shadow: 0px 0px 7px 3px rgb(190, 122, 33);
    margin-top: 2px;margin-right: 1px;
    color:white;
    background-color: rgb(190, 106, 33);
  }